// ----------------------------------------------
// Blogs Style
// ----------------------------------------------

.blog {
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    &::before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(33, 33, 33, 0.6);
    }
}