html {
  font-size: 37.5px;
}

.page {
  background-color: rgba(241, 240, 245, 1);
  position: relative;
  width: 10rem;
  height: 21.654rem;
  overflow: hidden;
}

.box_1 {
  background-color: rgba(255, 255, 255, 1);
  padding: 0.48rem 0.374rem 0.374rem 0.56rem;
}

.text-wrapper_1 {
  width: 1.44rem;
  height: 0.427rem;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: -0.2800000011920929px;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  white-space: nowrap;
  line-height: 0.454rem;
}

.text_1 {
  height: 0.427rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
}

.text_2 {
  height: 0.427rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
}

.thumbnail_1 {
  width: 0.454rem;
  height: 0.294rem;
  margin: 0.054rem 0 0.08rem 5.84rem;
}

.thumbnail_2 {
  width: 0.4rem;
  height: 0.294rem;
  margin: 0.027rem 0 0.107rem 0.134rem;
}

.image_1 {
  width: 0.667rem;
  height: 0.32rem;
  margin: 0.027rem 0 0.08rem 0.134rem;
}

.box_2 {
  padding-bottom: 0.267rem;
}

.box_3 {
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  width: 10rem;
  padding: 0.267rem 3.067rem 0.24rem 0.374rem;
}

.thumbnail_3 {
  width: 0.24rem;
  height: 0.454rem;
  margin: 0.08rem 0 0.134rem 0;
}

.text_3 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.48rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.667rem;
}

.text-group_1 {
  width: 6.454rem;
  align-self: center;
  margin-top: 1.6rem;
}

.text_4 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.586rem;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  line-height: 0.8rem;
}

.text_5 {
  overflow-wrap: break-word;
  color: rgba(119, 119, 119, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  align-self: center;
  margin-top: 0.267rem;
}

.image_2 {
  width: 1.227rem;
  height: 2.454rem;
  align-self: center;
  margin-top: 2.534rem;
}

.image_3 {
  width: 5.12rem;
  height: 0.16rem;
  align-self: center;
  margin-top: 1.067rem;
}

.home-indicator_1 {
  width: 3.574rem;
  height: 0.134rem;
  align-self: center;
  margin-top: 9.414rem;
}

.box_4 {
  background-color: rgba(0, 0, 0, 0.17);
  height: 21.654rem;
  width: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  padding: 4.454rem 0.56rem 4.214rem 0.587rem;
}

.block_1 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 28px;
  padding: 2.8rem 1.494rem 2.294rem 1.2rem;
}

.text_6 {
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 1);
  font-size: 0.373rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0 1.654rem 0 1.894rem;
}

.icon_1 {
  width: 2.64rem;
  height: 2.64rem;
  margin: 0.827rem 1.654rem 0 1.867rem;
}

.button_1 {
  background-color: rgba(51, 51, 51, 1);
  border-radius: 24px;
  margin-top: 2.64rem;
  padding: 0.32rem 2.64rem 0.294rem 2.614rem;
}

.text_7 {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: PingFangSC-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.587rem;
}
